.loading {
  height: 50px;
  width: 50px;
  border: 16px solid #300404;
  border-right-color: #850840;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  position: relative;
  margin: 50px auto;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
