.personImage {
  margin: 10px auto;
  padding: 15px;
  width: 25%;
  background-color: rgb(81, 3, 35);
}

.personImage__name {
  font-size: 3rem;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  box-shadow: 6px 6px 4px rgba(0,0,0,0.5);
  background-color: #6e0e3e;
  margin: 0 auto;
}

.paginationWrapper {
  background: linear-gradient(10deg,#ffffff, #aba9aa);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}

.person__overlay {
  position: absolute;
  bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    #ca4246 10%,
    #e16541 10%,
    #e16541 20%,
    #f18f43 20%,
    #ffd900 30%,
    #586334 30%,
    #a7bd61 40%,
    #476098 40%,
    #476098 50%,
    #a7489b 50%,
    #ca4246 60%,
    #e16541 60%,
    #e16541 70%,
    #f18f43 70%,
    #ffd900 80%,
    #586334 80%,
    #a7bd61 90%,
    #476098 90%,
    #476098 100%,
    #a7489b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 1200px) {
  .personImage__name {
    font-size: 4rem;
  }
  .personImage {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .personImage__name {
    font-size: 4rem;
  }
  .personImage {
    width: 90%;
  }
}
